
.arriba
{
    background-image: url(https://connect-assets.prosple.com/cdn/ff/f-XOlG6N0oJWqMuiTkgk_uDYVS_IMBC0BGTOGh2u8qo/1656397250/public/2022-06/banner-nike-1786x642-2022.png);
    background-repeat: no-repeat;
    
}
.medio
{
    background-color: rgb(145, 145, 128);
}
.abajo
{
Background-color:rgb(43, 42, 36);
}

.izq
{
Background-color:rgb(145, 145, 128);

}

.der
{
Background-color:rgb(145, 145, 128);

}

.med
{
    background-color: ;
    
}


.links
{
    margin: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
    text-decoration: none;
}


nav
{
    padding: 5px;
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul
{
    justify-content: center;
    display: flex;
    list-style: none;
    background-color:transparent;
    width: 100%;
    height: 20%;
    
}

li
{ 
    background-color: rgba(128, 128, 128, 0.175);
    border-radius: 15px;
    
}

.articulo
{
    border-image-repeat: no repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    border-style: solid;
}

.logos
{
    height: 150px;
    width: 200px;
}

header{
    background-color:white;
}

main{
    background-color: black;
}

/*Incicio pagina 2 */
.tarjeta{
    height: 200px;
    width: 125px;
    
}




/*  Deje el video de boostrap en el minuto 1:01:17 */