.arriba
{
    background-color: aqua;
    height: 20%;
}
.medio
{
    background-color: crimson;
    height: 70%;
}
.abajo
{
Background-color:gold;
height: 10%;
}

.izq
{
Background-color:rgb(21, 21, 16);
}

.der
{
Background-color:rgb(25, 103, 12);
}